<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menü</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/categories">Kategóriák</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/newCat">Új kategória</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions">Számlatörténet</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" routerLink="/new-transact">Új tranzació</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/wallets">Pénztárcák</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Adatmódosítás</a>
        </li>
                        <li class="nav-item">
          <a class="nav-link" href="/login">Bejelentkezés</a>
        </li>
                        <li class="nav-item">
          <a class="nav-link" href="/registration">Regisztráció</a>
        </li>
      </ul>
    </div>
  </div>
</nav>