/* You can add global styles to this file, and also import other style files */
.hatter {
    
    min-height: 100vh;
    padding-bottom: 10px;
    padding-top: 20px;
    background: linear-gradient(36deg, rgba(51, 44, 171, 1) 15%, rgba(138, 40, 143, 1) 66%);
    z-index: 2;
}

.hatter::before {
    
    background: linear-gradient(213deg,rgba(51, 44, 171, 1) 20%, rgba(138, 40, 143, 1) 66%);
    opacity: 0;
    animation: bg 1000ms ease-in-out 0s infinite alternate-reverse;
    z-index: -1;
}
@keyframes bg{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.container {
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    min-height: 500px;
}