<div class="p-3 col-sm-6 offset-sm-3">
    <h3 class="mb-5">Update profile</h3>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="email" class="form-control" id="adress" aria-describedby="emailHelp">
        </div>
       <hr>
       <div class="mb-1">
            <label for="regdate" class="form-label" disabled>Registration date:</label>
            <input type="text" class="form-control" id="regdate" aria-describedby="emailHelp" disabled>
        </div>
        <div class="mb-3">
            <label for="lastlogdate" class="form-label" disabled>Lastlog date date:</label>
            <input type="text" class="form-control" id="lastlogdate" aria-describedby="emailHelp" disabled>
        </div>
        
        
      </form>
      <div class="d-flex gap-2">
        <button class="btn btn-primary"  (click)="save()"><i class="bi bi-person-add"></i>&nbsp;&nbsp;Update profile</button>
      </div>
</div>