<h3>Kategória felvétele</h3>
<hr>
<h5 *ngIf="!this.id">Új adat felvétele</h5>
<h5 *ngIf="this.id">Módosítás</h5>
<div class="input-group">
    <select class="custom-select" id="inputGroupSelect04" aria-label="Large">
      <option selected>Bevásárlás</option>
      <option value="1">Szórakozás</option>
      <option value="2">Élelmiszer</option>
      <option value="3">Egyéb</option>
    </select>
    <div class="input-group-append d-flex" >
      <button class="btn btn-outline-secondary" type="button" (click)="saveCat()">Felvétel</button>
      <button type="button" class="btn btn-secondary" routerLink="/transactions">Vissza</button>
    </div>
  </div>