<h3>Kategória felvétele</h3>
<hr>
<h5 *ngIf="!this.id">Új adat felvétele</h5>
<h5 *ngIf="this.id">Módosítás</h5>
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="custNevField" placeholder="" [(ngModel)]="newCategory.type">
        <label for="custNevField">Neve</label>
    </div>
      <button type="button" class="btn btn-primary m-3" id="save" (click)="saveCat()"  routerLink="/categories">Mentés <i class="bi bi-floppy"></i></button>
      <button type="button" class="btn btn-secondary" routerLink="/categories">Vissza</button>
